body{
   
    font-size: 16px;
    font-family: Andika New Basic, sans-serif;


}
.bk {
    background-image: url('C:/Payal Project/Personal Portfolio/My-Portfolio/Reource/b5.jpg');
    width:100%;
    height: 625px;

}

header nav{
    float:right;
}

li {
    list-style: none;
    display: inline;
    margin-left: 22px;
    margin-right: 10px;
   
}
 a {
    color:black;
    font-size: 1.5em;
    font-weight: bold;
 }
 main {
    width:100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas:"none" "none" "none" 
                        "info" "info" "payal"
                        "none" "none" "none";



 }
 .payal{
   grid-area: 2 / 3 / 3 / 4;
   margin-left: 100px;
   margin-top: 0px;
    
 }
 .info {
     grid-area: 2 / 1 / 3 / 3 ;
     margin-top: 100px;
     color:white;
     font-size: 20px;
 }
 img {
     border-radius: 50px;
     margin-top: 20px;
     margin-left: 110px;
     
    
     
   
 }
 h1{
    
     margin-left: 30px;
 }
 p {
     margin-left: 20px;
 }
 button {
     margin-left: 20px;
     font-size: 16px;
     font-family: Andika New Basic, sans-serif;
     font-weight: bolder;
    }
 main nav {
     float: left;
     
 }